.btn{
    font-size: larger;
    color: wheat;
    border: 2px solid white;
    border-radius: 15px;
}
.btn:hover{
    color: rgb(28, 238, 20);
}
.form-control{
    width: 50%;
    position: relative;
    left: 25%;
    font-size: 20px;
}

.control-label{
    font-size: 25px;
}

option{
    font-size: 20px;
}

@media screen and (max-width: 425px){
    .form-control{
        width: 100%;
        left: 0;
    }
}