<div class=" col-md-6 mx-auto"><br><br><br><br>
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
           
              <img class=" avatar" src="{{pic}}" />

              <h5 class=" title">{{name}}</h5>
            
            <p class=" description">Department &nbsp; -> &nbsp; {{department}}</p>
            <p class=" description">Contact Number &nbsp; -> &nbsp; {{mobile}}</p>
            <p class=" description">LDAP ID &nbsp; -> &nbsp; {{ldap}}</p>
          </div>
        </div>
